.singlePost{
    flex: 9;
}

.singlePostWrapper{
    padding: 20px;
    padding-right: 0;
}

.singlePostImg{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.singlePostTitle{
    text-align: center;
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 32px;
}

.singlePostEdit{
    float: right;
    font-size: 20px;
}

.singlePostIcon{
    margin-left: 10px;
    cursor: pointer;
}

.singlePostIcon:first-child{
    color: teal;
}

.singlePostIcon:last-child{
    color: tomato;
}

.singlePostInfo{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
    color: #b39656;
}

.singlePostDesc{
    color: #666;
    font-size: 20px;
    line-height: 30px;
}

.singlePostDesc::first-letter{
    margin-left: 20px;
    font-size: 40px;
    font-weight: 600;
}