.singlePost{
    flex: 9;
}

.singlePostWrapper{
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
}

.singlePostImg{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.singlePostTitle{
    text-align: center;
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 32px;
}

.singlePostTitleInput{
    text-align: center;
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 32px;
    border: none;
    border-bottom: 1px solid lightgray;
    color: gray;
}

.singlePostTitleInput:focus{
    outline: none;
}

.singlePostEdit{
    float: right;
    font-size: 20px;
}

.singlePostIcon{
    margin-left: 10px;
    cursor: pointer;
}

.singlePostIcon:first-child{
    color: teal;
}

.singlePostIcon:last-child{
    color: tomato;
}

.singlePostInfo{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
    color: #b39656;
}

.singlePostDesc{
    color: #666;
    font-size: 20px;
    line-height: 30px;
}

.singlePostDesc::first-letter{
    margin-left: 20px;
    font-size: 40px;
    font-weight: 600;
}

.singlePostDescInput{
    width: 100%;
    height: 250px;
    border: none;
    color: #666;
    font-size: 20px;
    line-height: 30px;
    resize: none;
}

.singlePostDescInput:focus{
    outline: none;
}

.singlePostButton{
    width: 100px;
    border: none;
    background-color: teal;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px;
}